# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/

/Customer/Customer.iml
/Store/Store.iml
/springboot.iml
/eureka-client/eureka-client.iml
/eureka-server/eureka-server.iml

/Customer/build/
/Store/build/
eureka-client/build/
eureka-server/build/
