# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/

/Customer/Customer.iml
/Store/Store.iml
/springboot.iml
/eureka-client/eureka-client.iml
/eureka-server/eureka-server.iml

/Customer/build/
/Store/build/
eureka-client/build/
eureka-server/build/
/AuthServer/build/
/CinemaService/build/
/ZuulServer/build/
AuthServer/build/
CinemaService/build/classes/main/jtk/springboot/jpa/
CinemaService/build/classes/main/jtk/springboot/mysql/
CinemaService/build/resources/
Store/src/test/
ZuulServer/build/
